.display-song {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        padding: 3rem 1rem 1rem;
    }

    &__cover {
        border-radius: 50%;
        width: 20%;
    }

    &__artist {
        font-size: 1rem;
    }
}