.nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    align-items: center;
    margin-bottom: 1.5rem;
}

button {
    background: transparent;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    transition: all .3s ease;
    padding: .3rem .6rem;
    display: flex;
    align-items: center;

    span {
        margin-right: .15rem;
    }


    &:hover {
        background-color: rgb(65, 65, 65);
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        justify-content: space-between;
        padding: 0 2.5rem;
        margin-bottom: 1rem;
    }

    button {
        z-index: 2;
    }
}