.song {
    display: flex;
    padding: 1rem 2rem;

    img {
        width: 30%;
        border-radius: 2px;
    }

    &:hover {
        background-color: #e2f2ff;
    }
}

.song-info {
    margin-left: 1rem;

    &__title {
        font-size: 1rem;
        margin-bottom: .2rem;
        color: rgb(65, 65, 65);
    }

    &__artist {
        font-size: .7rem;
    }
}